.intro__list-count{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
}
