    .header__lang-link{
        text-decoration-line: none;
        color: #fff;
        font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
        font-style: normal;
        transition: opacity .05s;
    }
    .header__lang-link:hover {
        opacity: 0.8;
      }
