.page{
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    min-height: 10023px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    background-color: #2A2C2F;
}