.lead__subtitle{
    margin: 16px 16px 40px 16px;
    max-width: 288px;
    width: 100%;
    min-height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
}