.cover{
    max-width: 1184px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../images/__cover/cover-trains.jpg);
}
@media screen and (max-width: 1280px) {
    .cover {
        margin: 0 48px;
    }
  }

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        margin: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .cover {
        width: 100%;
        margin: 0;
    }
  }
  @media screen and (max-width: 500px) {
    .cover {
        width: 100%;
        margin-left: 0;
  }
  }
  @media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        margin: 0;
  }
  }

